.tb {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 1px 2px 2px rbga(0, 0, 0, 0.3);
}

.tb-icon {
    width: 40px;
    height: 40px;
}