@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Merienda&family=Rye&family=Ubuntu&display=swap');

/* font-family: 'Merienda', cursive;
font-family: 'Rye', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Aclonica', sans-serif; */

.c {
    height: 100vh;
    position: relative;
}

.c-bg {
    width: 20px;
    background-color: #59b256;
    height: 100%;
    position: absolute;
}

.c-wrapper {
    display: flex;
    padding: 10px 50px;
}

.c-left {
    flex: 1;
    height: 95%;
    /* border: 2px solid red; */
}

.c-title {
    font-size: 3.1rem;
    font-family: 'Aclonica', sans-serif;
    width: 80%;
}

.c-info {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    justify-content: center;
    /* border: 2px solid red; */
    width: 80%;
    /* align-items: center; */
}

.c-info-title {
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 6000;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.c-info-item {
    margin-top: 40px;
}

.c-box {
    align-items: center;
    display: flex;
    font-weight: 200;
    width: 100%;
    font-size: 1rem;
    /* border: 1px solid blue; */
    font-family: 'Ubuntu', sans-serif;
}

.c-icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    border-radius: 4px;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.c-desc {
    font-weight: 200;
    font-family: 'Ubuntu', sans-serif;
}

form {
    margin-top: 20px;
}

input {
    width: 50%;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 14px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 14px;
}

button {
    background-color: #59b256;
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 15px;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;
    font-family: 'Merienda', cursive;
}

.greet {
    margin-top: 10px;
    /* color: #59b256; */
    font-style: oblique;
    font-weight: 300;
}


@media screen and (max-width:480px) {
    .c {
        height: 100%;
    }

    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;
    }

    .c-title {
        font-size: 2.6rem;
    }

    .c-info-item {
        margin-top: 25px;
    }

    .c-desc {
        display: none;
    }

    form {
        margin-top: 0px;
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        /* margin-left: 0px; */
    }

    input {
        width: 50%;
        height: 40px;
        margin: 10px;
        margin-left: 0px;
    }

    button {
        margin-top: 10px;
    }
}